aiohttp
autopep8
bokeh
expects
face-recognition
flake8
ghp-import2
gpustat
graphviz
jupyter
moviepy
nano
Nikola
opencv-python
pip-tools
pipdeptree
ptpython
pydaal
pytest-bdd
pytest-mock
pytest-xdist
python-dotenv
pyttsx3
seaborn
simplegeneric
sklearn
tabulate
tensorflow
thefuck
torchvision
udacity-pa
virtualfish
watchdog
yapf
