aiohttp
autopep8
bokeh
expects
face-recognition
flake8
ghp-import2
gpustat
graphviz
icc-rt
jupyter
mkl
mkl-fft
mkl-random
Nikola
opencv-python
pip-tools
pipdeptree
ptpython
pydaal
pytest-bdd
pytest-mock
pytest-xdist
python-dotenv
pyttsx3
seaborn
sklearn
tabulate
thefuck
torchvision
tqdm
udacity-pa
virtualfish
watchdog
wheel
yapf
