@font-face {
    font-family: 'goudybookletter';
    src: url('../fonts/GoudyBookletter1911/GoudyBookletter1911.woff') format('woff'),
         url('../fonts/GoudyBookletter1911/GoudyBookletter1911.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/ChunkFive/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/ChunkFive/chunkfive-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/ChunkFive/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/ChunkFive/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    /* color: #eb6864; */
    color: #990033;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #e22620;
  text-decoration: underline;
}
body {
  font-family: "goudybookletter", "EB Garamond",  Georgia, "Times New Roman", Times, serif;
  font-size: large;
  line-height: 1.42857143;
  color: #444444;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "chunkfiveroman", "Cinzel", "cinzel_decorativebold", serif;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  font-family: "chunkfiveroman", "Cinzel", 'cinzel_decorativebold', "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #000;
}

.navbar {
    background-image: none;
  font-size: 18px;
  font-family: "chunkfiveroman", "Cinzel", 'cinzel_decorativebold', "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}

.navbar-default .badge {
  background-color: #000;
  color: #fff;
}
.navbar.bg-light {
    background-image: none;
    background-color: #fff !important;
    color: #990033;
}
.navbar-brand {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}
/* The org-mode exporter smashes table columns together for some reason */
.org-left, .org-right {
    padding-left: 10px;
}

.btn-primary {
    background-image: none;
  color: #ffffff;
  background-color: #990033;
  border-color: #990033;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #b81c18;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #e4332e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #e4332e;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #dc221c;
  border-color: #b81c18;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #990033;
  border-color: #990033;
}
.btn-primary .badge {
  color: #990033;
  background-color: #ffffff;
}

/* images and figures */

.figure {
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The header bar */
.form-group {
    margin-bottom: auto;
}

 .container {
    max-width: 1224px;
}

 /* The Creative Commons license */
 #license-image {
     float: right;
 }
